<div class="body-content">
    <div class="post-header">
        <div class="section-description">
            Create New Quiz
        </div>
    </div>
    <div class="post-index-content ">
            <form #QuizForm="ng-form">
                <div class="form-group">
                    <label for="title" class="control-label">Title</label></br>
                    <input  type="text"
                    id="title"
                    class="form-control"
                    name="title"
                    ng-model="newQuiz.title"
                    required/>
                </div></br>
                <div class="form-group">
                    <label for="imageUrl" class="control-label">ImageUrl</label></br>
                    <input type="text" 
                    class="form-control"
                    id="imageUrl"
                    ng-model="newQuiz.imageUrl"
                    name="image"
                    required/>
                </div>
                <div class="form-group">
                    <input type="button"
                    ng-click="addQuiz()"
                    value="Create" class="btn new" />
                </div>
            </form>
        </div>
</div>